
#map {
  bottom:0px;
  height: 100%;

}

#mapDiv {
  height: 100%;
}

#navButton {
  z-index: 1;
}

.icon-bar {
  background-color: dimgray;
}

nav {color: rgba(153, 153, 153, .5);}



html, body {
  height: 100vh;
}
body {
  padding: 50px 0 0 0;
}

.navmenu {
  padding-top: 50px;
}

.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

#about {
  position: fixed;
  bottom: 0px;
}

#array-list {
  height: 88%;
  overflow: scroll;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 0;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
  
@media (min-width: 768px) {

}

@media (max-width: 768px) {
  
}
