#map {
  bottom:0px;
  height: 100%;

}

#mapDiv {
  height: 100%;
}

#navButton {
  z-index: 1;
}

#navmenu {
  background-color: rgba(248, 248, 248, .9);
}

  #searchMenu {
    margin-left: 15px;
  }

.icon-bar {
  background-color: dimgray;
}

html, body {
  height: 100vh;
}
body {
  padding: 50px 0 0 0;
}

p {
  margin-bottom: 0px;
}

li {
  margin-bottom: 10px;
  font-size: 13px;
}

nav {color: rgba(153, 153, 153, .5);}

.navmenu {
  padding-top: 50px;
}

.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

#about {
  position: fixed;
  bottom: 0px;
}

#array-list {
  height: 85%;
  overflow: scroll;
  margin-left: 5px;
  margin-right: 5px;
}

#array-list--item {
  padding-left: 5px;
}

#array-list--item:hover {
  background-color: darkgray;
  border-radius: 8px;
  transition: ease .8s;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 0;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
}

@media screen and (max-width: 991px) {
  #array-list {
  height: 90%;
  }

  #searchMenu {
    margin-top: 10px;
  }
}
